:root{
    --primary-dark:black;
    --primary-white:white;
  
}
.container{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: auto;
    padding: 3rem;
    margin-bottom: 3rem;
}

#check-number{
    margin: auto;
    width: fit-content;
    margin-top: 0.8rem;
    background: transparent;
    color: var(--primary-white);
    border-color: var(--primary-white);
    border-radius: 0.3rem;
}

body{
    background-color: var(--primary-dark);
    color: var(--primary-white);

}
